* {
  box-sizing: border-box;
  color: black;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.p-0 {
  padding: 0;
}

.p-5px {
  padding: 5px;
}

.p-10px {
  padding: 10px;
}

.px-0 {
  padding: 0;
}

.px-5px {
  padding: 0 5px;
}

.px-10px {
  padding: 0 10px;
}

.col, .col-12 {
  max-width: 100%;
}

.col-2 {
  max-width: 16.666%
}

.col-3 {
  max-width: 25%;
}

.col-4 {
  max-width: 33.333%
}

.col-5 {
  max-width: 41.666%;
}

.col-6 {
  max-width: 50%;
}

.col-7 {
  max-width: 58.333%;
}

.col-8 {
  max-width: 66.666%;
}

.col-9 {
  max-width: 75%;
}

.col-10 {
  max-width: 83.333%;
}

.col-11 {
  max-width: 91.666%;
}

@media (max-max-width: 720px) {
 .col-sm-12 {
    max-width: 100%;
  }
  
  .col-sm-2 {
    max-width: 16.666%
  }
  
  .col-sm-3 {
    max-width: 25%;
  }
  
  .col-sm-4 {
    max-width: 33.333%
  }
  
  .col-sm-5 {
    max-width: 41.666%;
  }
  
  .col-sm-6 {
    max-width: 50%;
  }
  
  .col-sm-7 {
    max-width: 58.333%;
  }
  
  .col-sm-8 {
    max-width: 66.666%;
  }
  
  .col-sm-9 {
    max-width: 75%;
  }
  
  .col-sm-10 {
    max-width: 83.333%;
  }
  
  .col-sm-11 {
    max-width: 91.666%;
  }

  .d-sm-flex {
    display: flex;
  }
  
  .d-sm-none {
    display: none;
  }
  
  .d-sm-inline-block {
    display: inline-block;
  }
  
  .d-sm-block {
    display: block;
  }
}

@media (min-max-width: 721px) and (max-max-width: 1024px) {
  .col-md-12 {
    max-width: 100%;
  }
  
  .col-md-2 {
    max-width: 16.666%
  }
  
  .col-md-3 {
    max-width: 25%;
  }
  
  .col-md-4 {
    max-width: 33.333%
  }
  
  .col-md-5 {
    max-width: 41.666%;
  }
  
  .col-md-6 {
    max-width: 50%;
  }
  
  .col-md-7 {
    max-width: 58.333%;
  }
  
  .col-md-8 {
    max-width: 66.666%;
  }
  
  .col-md-9 {
    max-width: 75%;
  }
  
  .col-md-10 {
    max-width: 83.333%;
  }
  
  .col-md-11 {
    max-width: 91.666%;
  }

  .d-md-flex {
    display: flex;
  }
  
  .d-md-none {
    display: none;
  }
  
  .d-md-inline-block {
    display: inline-block;
  }
  
  .d-md-block {
    display: block;
  }
}

@media(min-max-width: 1025px) {
  .col-lg-12 {
    max-width: 100%;
  }
  
  .col-lg-2 {
    max-width: 16.666%
  }
  
  .col-lg-3 {
    max-width: 25%;
  }
  
  .col-lg-4 {
    max-width: 33.333%
  }
  
  .col-lg-5 {
    max-width: 41.666%;
  }
  
  .col-lg-6 {
    max-width: 50%;
  }
  
  .col-lg-7 {
    max-width: 58.333%;
  }
  
  .col-lg-8 {
    max-width: 66.666%;
  }
  
  .col-lg-9 {
    max-width: 75%;
  }
  
  .col-lg-10 {
    max-width: 83.333%;
  }
  
  .col-lg-11 {
    max-width: 91.666%;
  }

  .d-lg-flex {
    display: flex;
  }
  
  .d-lg-none {
    display: none;
  }
  
  .d-lg-inline-block {
    display: inline-block;
  }
  
  .d-lg-block {
    display: block;
  }

}